<!-- Error Message -->
<div *ngIf="errorMessage" class="mb-4 p-4 bg-red-100 text-red-700 rounded-md font-poppins">
  {{ errorMessage }}
</div>

<!-- Section analyse visuelle -->
<div class="mt-6">
  <h2 class="text-xl font-semibold font-['Helvetica_Neue'] text-teal-300 mb-4">Analyse Visuelle des Statistiques</h2>
  
  <!-- Section calendrier -->
  <div class="mb-6">
    <label for="selectedDate" class="block text-gray-700 font-medium mb-2 font-poppins">Filtrer par date :</label>
    <input type="date" id="selectedDate" [(ngModel)]="selectedDate" (change)="filterDataByDate()"
      class="p-2 border border-gray-300 rounded-md shadow-sm" />
  </div>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Graphique en barres -->
    <div class="bg-transparent p-4 rounded-lg shadow-md">
      <h3 class="text-lg font-medium font-poppins text-[#080808] mb-2">Répartition des disponibilités (Barres)</h3>
      <canvas #availabilityBarChart></canvas>
    </div>

    <!-- Graphique en Polar Area (Disponibilités) -->
    <div class="bg-transparent p-4 rounded-lg shadow-md">
      <h3 class="text-lg font-medium font-poppins text-[#080808] mb-2">Répartition des disponibilités (Polar Area)</h3>
      <canvas #availabilityPolarChart></canvas>
    </div>

    <!-- Graphique des événements (Participants par événement) -->
    <div class="bg-transparent p-4 rounded-lg shadow-md">
      <h3 class="text-lg font-medium font-poppins text-[#080808] mb-2">Nombre de participants par événement</h3>
      <canvas #eventChart></canvas>
    </div>
  </div>
</div>