<h2 class="text-4xl font-extrabold  mb-8 text-center" style="font-family: 'Inter', sans-serif; color : #53709e	;">
  Liste des utilisateurs
</h2>

<table *ngIf="users.length > 0; else noData" class="min-w-full bg-white border border-gray-200 rounded-lg shadow-md"
  style="font-family: 'Inter', sans-serif;">
  <thead>
    <tr class="text-left bg-gradient-to-r from-indigo-600 to-indigo-400 text-white">
      <th class="px-6 py-3 text-sm font-medium" style="font-family: 'Inter', sans-serif;">Nom</th>
      <th class="px-6 py-3 text-sm font-medium" style="font-family: 'Inter', sans-serif;">Prénom</th>
      <th class="px-6 py-3 text-sm font-medium" style="font-family: 'Inter', sans-serif;">Email</th>
      <th class="px-6 py-3 text-sm font-medium" style="font-family: 'Inter', sans-serif;">Rôle</th>
      <th class="px-6 py-3 text-sm font-medium" style="font-family: 'Inter', sans-serif;">Téléphone</th>
      <th class="px-6 py-3 text-sm font-medium" style="font-family: 'Inter', sans-serif;">isApproved</th>
      <th class="px-6 py-3 text-sm font-medium" style="font-family: 'Inter', sans-serif;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users" class="hover:bg-indigo-100 even:bg-gray-50 border-b"
      style="font-family: 'Inter', sans-serif;">
      <td class="px-6 py-4 text-sm text-gray-800">{{ user.nom }}</td>
      <td class="px-6 py-4 text-sm text-gray-800">{{ user.prenom }}</td>
      <td class="px-6 py-4 text-sm text-gray-800">{{ user.email }}</td>
      <td class="px-6 py-4 text-sm text-gray-800">{{ user.role }}</td>
      <td class="px-6 py-4 text-sm text-gray-800">{{ user.telephone }}</td>
      <td class="px-6 py-4 text-sm text-gray-800">{{ user.isApproved }}</td>
      <td class="px-6 py-4 text-sm text-gray-800 space-x-2">
        <button class="bg-green-500 hover:bg-green-600 text-white text-sm px-3 py-1 rounded" (click)="onEditUser(user)"
          style="font-family: 'Inter', sans-serif;">Modifier</button>
        <button class="bg-red-500 hover:bg-red-600 text-white text-sm px-3 py-1 rounded" (click)="onDeleteUser(user)"
          style="font-family: 'Inter', sans-serif;">Supprimer</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Template d'affichage si aucun utilisateur -->
<ng-template #noData>
  <p class="text-center text-lg text-gray-600 mt-8" style="font-family: 'Inter', sans-serif;">Aucun utilisateur trouvé.
  </p>
</ng-template>