<div class="max-w-xl mx-auto p-6 bg-white rounded-lg shadow-md mt-6">
   <!-- Bouton de retour -->
  <div class="mb-6">
    <button 
      (click)="goBack()" 
      class="px-6 py-3 bg-gradient-to-br from-[#56e0e0] to-[#007299] text-white font-semibold text-sm rounded-xl shadow-md hover:from-[#56e0e0]/90 hover:to-[#007299]/90 transition flex items-center gap-2"
    >
      <i class="bi bi-arrow-left"></i>
      Retour à la liste
    </button>
  </div>
  <h2 class="text-2xl font-semibold text-zenaura-text mb-4">Détail de la catégorie</h2>

  <div *ngIf="loading" class="text-zenaura-gray">Chargement...</div>
  <div *ngIf="error" class="text-red-600">{{ error }}</div>

  <div *ngIf="category && !loading">
    <p><span class="font-medium text-zenaura-gray">Titre :</span> {{ category.title }}</p>
    <p class="mt-2"><span class="font-medium text-zenaura-gray">Description :</span></p>
    <p class="text-zenaura-darkGray whitespace-pre-line">{{ category.description }}</p>
    <p class="mt-4 text-sm text-neutral-400">Créée le : {{ category.created_at | date:'medium' }}</p>
  </div>
  <div class="mt-6">
  <button
    (click)="confirmDelete()"
    class="bg-red-600 text-white px-6 py-2 rounded hover:bg-red-700 transition">
    ❌ Confirmer la suppression
  </button>
  </div>
</div>
